<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/logo_white.png">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/roomtypes.css">

    <title>Room Types</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="./images/logo_white.png">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/home" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Booking Records</h3>
                </a>
                <a href="/room">
                    <span class="material-icons-sharp">villa</span>
                    <h3>Rooms</h3>
                </a>
                <a href="/roomtype">
                    <span class="material-icons-sharp">library_books</span>
                    <h3>Room Types</h3>
                </a>
                <a href="/customer_record">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Transaction Records</h3>
                </a>
                <a href="/QR">
                    <span class="material-icons-sharp">qr_code_2</span>
                    <h3>Change QR Code</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End Of aside -->

        <main>
            <h1 class="titlee">Room Types</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Room Type</th>
                            <th>Room Pictures</th>
                            <th>Description A</th>
                            <th>Amenities</th>
                            <th>Child_Rate</th>
                            <th>Tax/Fee</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%roomtype.forEach(data=> { %>
                            <tr>
                                <td data-label="room_name">
                                    <%=data.room_name%>
                                </td>
                                <td data-label="room_pictures" style="text-align: center;">
                                    <img src="/images/room-type/<%=data.room_pictures%>"
                                        style="height: 80px; width: 80px; display: inline-block;" />
                                </td>
                                <td data-label="des_a" style="max-width: 23rem;">
                                    <%=data.description_a%>
                                </td>
                                <td data-label="aminities">
                                    <%=data.aminities%>
                                </td>
                                <td data-label="child_rate">
                                    <%=data.child_rate%>
                                </td>

                                <td data-label="tax">
                                    <%=data.tax%>
                                </td>

                                <td data-label="action">
                                    <form action="/deleteroom_type/<%=data.id%>" method="post">
                                        <button class="btn3"><i class="material-icons"
                                                style="color: #DC3545;">delete</i></button>
                                    </form>

                                    <a href="/roomtype-edit/<%=data.id%>">
                                        <button class="btn3">
                                            <i class="material-icons" style="color: #1BCFB4;">edit</i>
                                        </button></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <div class="btn1">
                    <a href="/typeroom">
                        <button>Add New</button>
                    </a>
                </div>
            </div>
        </main>

        <!------------ End Of Main ------------>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/roomtypes.js"></script>

    </div>
</body>

</html>