<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/logo_white.png">

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/rooms.css">

    <title>Rooms</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo_white.png">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/home" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Booking Records</h3>
                </a>
                <a href="/room">
                    <span class="material-icons-sharp">villa</span>
                    <h3>Rooms</h3>
                </a>
                <a href="/roomtype">
                    <span class="material-icons-sharp">library_books</span>
                    <h3>Room Types</h3>
                </a>
                <a href="/customer_record">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Transaction Records</h3>
                </a>
                <a href="/QR">
                    <span class="material-icons-sharp">qr_code_2</span>
                    <h3>Change QR Code</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End Of aside -->

        <main>
            <h1 class="titlee">Rooms</h1>
            <div class="recent-orders">
                <table>
                    <thead>
                        <tr>
                            <th>Room No</th>
                            <th>Price ($)</th>
                            <th>Description</th>
                            <th>Max People</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% addnewroom.forEach(data=> { %>
                            <tr>
                                <td data-label="room_no">
                                    <%=data.room_number%>
                                </td>
                                <td data-label="amount">
                                    <%=data.price%>
                                </td>
                                <td data-label="des">
                                    <%=data.description%>
                                </td>
                                <td data-label="max People">
                                    <%=data.maxPeople%>
                                </td>
                                <td data-label="category">
                                    <%=data.category%>
                                </td>

                                <td data-label="action">
                                    <form action="/deleteroom/<%=data.id%>" method="post">
                                        <button class="btn3"><i class="material-icons"
                                                style="color: #DC3545;">delete</i></button>
                                    </form>
                                    <a href="/room-edit/<%=data.id%>">
                                        <button class="btn3">
                                            <i class="material-icons" style="color: #1BCFB4;">edit</i>
                                        </button></a>
                                </td>
                                <!-- <td data-label="empty">
                            <form action="/empty-the-room/<%=data.id%>" method="post">
                                <button class="btn3">Empty Room</button>
                            </form> -->
                                </td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
                <div class="btn1">
                    <a href="/addroom">
                        <button>Add New</button>
                    </a>
                </div>
            </div>
        </main>

        <!------------ End Of Main ------------>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/room.js"></script>
</body>

</html>